.jost{
    font-family: "Jost", sans-serif !important;
}
.poppins{
    font-family: "Poppins", sans-serif !important; 
}
*{

    padding: 0;margin: 0;box-sizing: border-box;
}

.title{
    animation-name: title;
    white-space: nowrap;
    animation-duration: 3s;
    padding-right: 10px;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
  }
  @keyframes title {
    from{
      width: 0px;
    }
    to{
      width: 220px;
    }
  }
  body,html{background: #eeeeee ;
  overflow-x: hidden;}