/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/index2.0.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/

*{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html,body{
    overflow-x: hidden;
}
.jakarta{
    font-family: "Plus Jakarta Sans", sans-serif;
}
video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
 
}
